<ion-content [fullscreen]="true" scrollY="false">

  <app-score-header [userIsNext]="userIsNext" [userIcon]="userIcon" [cpuIcon]="cpuIcon" [userWins]="userWins"
    [cpuWins]="cpuWins" [winner]="winner" [player]="player" />


  <ion-card [disabled]="winner !== null || isDraw()" mode="ios">
    <ion-grid mode="ios">
      <ion-row mode="ios">
        <ion-col mode="ios" size="4" class="border" *ngFor="let val of boardGamePositions; let i=index">
          <app-tictactoe-icon [value]="val" (click)="makeMove(i)" />
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-button class="ion-margin margin-top" expand="block" color="tic-tac-toe" shape="round" size="large" mode="ios"
    [disabled]="winner === null && !isDraw()" (click)="newGame()"> {{ newGameButtonLabel | titlecase }} </ion-button>

</ion-content>