<ion-content [fullscreen]="true" scrollY="false">

  <ion-card mode="ios" [ngClass]="{'margin-top': platform.is('ios')}">
    <ion-item lines="none" mode="ios">
      <ion-icon mode="ios" name="person-outline" slot="start" color="tic-tac-toe">
      </ion-icon>
      <ion-label> {{ nextPlayerLabel | titlecase }} <ion-text [color]="player === 1 ? 'tic-tac-toe' : 'danger' ">
          <b *ngIf="userIcon !== null && winner === null"> {{ userIsNext ? checkIcon(userIcon) : checkIcon(cpuIcon) }}
          </b> </ion-text> </ion-label>
      <ion-icon mode="ios" name="laptop-outline" slot="end" color="danger">
      </ion-icon>
    </ion-item>

    <ion-item lines="none" mode="ios">
      <ion-label mode="ios" slot="start" class="label--user"> {{ userWins }} </ion-label>
      <ion-label mode="ios" slot="end" class="label--cpu"> {{ cpuWins }} </ion-label>
    </ion-item>
  </ion-card>


  <ion-card [disabled]="winner !== null || isDraw()" mode="ios">
    <ion-grid mode="ios">
      <ion-row mode="ios">
        <ion-col mode="ios" size="4" class="border" *ngFor="let val of boardGamePositions; let i=index">
          <app-tictactoe-icon [value]="val" (click)="makeMove(i)" />
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-button class="ion-margin margin-top" expand="block" color="tic-tac-toe" shape="round" size="large" mode="ios"
    [disabled]="winner === null && !isDraw()" (click)="newGame()"> {{ newGameButtonLabel | titlecase }} </ion-button>

</ion-content>