<ion-content [fullscreen]="true" scrollY="false" [ngClass]="{'ios': platform.is('ios')}">

  <ion-label mode="ios" class="title" color="tic-tac-toe">{{ pageTitle }}</ion-label>

  <ion-card mode="ios">
    <ion-img class="logo" [src]="gameLogo" />
  </ion-card>

</ion-content>

<ion-footer mode="ios" class="ion-no-border">
  <ion-button class="ion-margin" expand="block" color="tic-tac-toe" shape="round" size="large" mode="ios"
    (click)="startGame()"> {{ startButtonLabel | titlecase }}</ion-button>
</ion-footer>