.title {
  display: flex;
  font-size: 10vh;
  font-family: monospace;
  text-align: -webkit-center;
  justify-content: center;
}
ion-card {
  background: var(--ion-background-color);
}
ion-img {
  // background: var(--ion-background-color);
  display: flex;
  margin: 0 auto;
}

.ios {
  margin-top: 30px;
  margin-bottom: 32px;
}
