<ion-content scrollY="false">
  <ion-header mode="ios">
    <ion-toolbar mode="ios" class="ion-no-padding">
      <ion-title mode="ios" class="ion-no-padding">Select your Icon !</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-row mode="ios" class="ion-margin-top ion-margin-bottom">
    <ion-col mode="ios" size="6" class="border-right">
      <ion-button mode="ios" size="large" expand="block" fill="outline" color="tic-tac-toe"
        (click)="selectUserIcon('X')">
        <ion-icon mode="ios" slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col mode="ios" size="6">
      <ion-button mode="ios" size="large" expand="block" fill="outline" color="danger" (click)="selectUserIcon('O')">
        <ion-icon mode="ios" slot="icon-only" name="ellipse-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>